$desktop-max-width: 1440px;
$header-height: 65px;
$footer-height: 50px;
$main-margin: 1rem;

$main-accent-color: #FF007B;

$background-color-dark: #121214;
$text-color-dark: #DEDEDE;
$subtext-color-dark: #BABABA;
$footer-text-color-dark: #545454;
$shadow-color-dark: #727272;

$background-color-light: #EDEDED;
$text-color-light: #2C2C2C;
$subtext-color-light: #9B9B9B;
$footer-text-color-light: #C1C1C1;
$shadow-color-light: #cfcfcf;