@font-face {
  font-family: Kalnia;
  src: url(../assets/fonts/Kalnia-Regular.ttf);
}

@font-face {
  font-family: Varta;
  src: url(../assets/fonts/Varta-VariableFont_wght.ttf);
}

:root {
  --background-color: #{$background-color-dark};
  --text-color: #{$text-color-dark};
  --subtext-color: #{$subtext-color-dark};
  --footer-text-color: #{$footer-text-color-dark};
  --shadow-color: #{$shadow-color-dark};
}

:root[data-theme="light"] {
  --background-color: #{$background-color-light};
  --text-color: #{$text-color-light};
  --subtext-color: #{$subtext-color-light};
  --footer-text-color: #{$footer-text-color-light};
   --shadow-color: #{$shadow-color-light};
}

* {
  font-family: Varta;
  color: var(--text-color);
  transition:
    color 0.2s ease-in-out,
    background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out,
    stroke 0.2s ease-in-out;
  scroll-behavior: smooth;
}

svg path {
  fill: var(--text-color);
}

html {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--background-color);

  body {
    flex: 1;
    margin: 0;

    #app {
      height: 100%;
    }
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.spacer {
  flex-grow: 1;
}

.hidden {
  display: none;
}

#content {
  max-width: $desktop-max-width;
  margin-left: auto;
  margin-right: auto;
}

.accent {
  color: $main-accent-color;
}